<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>$title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="$css">
    <script type="text/javascript">var BASE_URL = '$constantes.get("BASE_URL")';</script>
    <link rel="shortcut icon" href="http://www.ulima.edu.pe/sites/default/files/favicon_1_1.ico" type="image/x-icon">
</head>
<body>
	<!-- Inicio Modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-container"  id="btnModal" style="display: none" >Launch demo modal</button>
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
    <!-- Fin Modal -->
    #parse($partial)
    <script type="text/javascript" src="$js"></script>
</body>
</html>
